<app-header></app-header>

<br>
<br>
<!-- <div class="container" style="margin: 10px; ">          
  <img src="https://thumbs.dreamstime.com/b/purple-flower-2212075.jpg"  class="rounded" alt="Cinque Terre" width="180" height="220"> 
</div> -->

<router-outlet></router-outlet>
<br>
<!-- <app-product></app-product> -->
<!-- <app-products-with-discount></app-products-with-discount> -->
<!-- <button (click)="renderval()">Show</button>
  <input type="text" #serach>
<button (click)="rendervalById(serach.value)">Get by id</button> -->

<br>
<br>
<app-footer></app-footer>
